.section__3 {
    margin-top: 10%;
    margin-bottom: 0;
    display: flex;
    flex-direction: column;

    &__content {
        margin: 0;
        background-color: #282428;
    }

    & .section__3__divider {
        width: 100%;
    }
}