button {
    border: none;
    outline: none;
    padding: 1rem;
    height: auto;
    aspect-ratio: 4.5;
    font-size: 1rem;
    border-radius: 100px;

    &:hover {
        cursor: pointer;
    }
}

h3 {
    font-weight: 500;
}