button.fill-hover {
    /* On hover fill background of button with white and use inverse text color */
    
    position: relative;
    overflow: hidden;
    width: fit-content;
    height: 3rem;
    isolation: isolate;
    border: none;
    color: white;
    transition: color 150ms ease-in;

    &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: white;
        transform: translateX(-100%);
        transition: transform 150ms ease-in;
        z-index: -1;
    }

    &:hover {
        color: black;

        &::after {
            transform: translateX(0);
        }
    }

    @supports (any-hover: none) {
        &:active {
            color: black;

            &::after {
                transform: translateX(0);
            }
        }
    }
}
